{% load static %}    

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
</head>
 <div>
<body style="justify-content: center; align-items: center; display: flex;">
<h2>Create an account</h2>
<form class="auth-form" method="post">
  {% csrf_token %}
  {{ form }}
  <button style="margin-top: 10px;" class="form-submit" type="submit">Sign Up</button>
</form>
<p style="text-align: center;">Already have an account? <a    class="signup" href="{% url 'login' %}">Login</a></p>
</div>
</body>