{% load static %}    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
    <title>Workout Tracker</title>
</head>
<body>
    <header>
        <div class="header">
        <h1 class="title" style="text-align: left;">Workout Tracker </h1>

        <nav class="navbar">
       
            <ul class="navbar-nav">

            
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'overview' %}">Overview</a>
                </li>
                <li>
                    <a href="{% url 'workout' %}">Add Workout</a>
                </li>
                <li>
                    <a> 
                        {%if user.is_authenticated %}
                            <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Log Out</button>
                            </form>
                        {% else %}
                            <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Login</button>
                            </form>
                        {% endif %} 

                    </a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
