{%extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
<!--      -->
<form action = "" method = "post" onsubmit="alert_completion()">
    {% csrf_token %}
    <div class="form-container">
        {{form.as_ul}}
    

    <input class="form-submit"  type="submit" value=Submit>
    </div>
</form>
<script>    
    function alert_completion() {
        alert("Workout added successfully!");
    }
</script>

{% endblock %}  